@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope&display=swap');
:root{
    --typography1: 'Fraunces', serif;
    --typography2: 'Manrope', sans-serif;
}
html {
    /* Reset para rems 62.5% = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
/* --Generales-- */
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-size: 1.8rem;
}
.navbar__nav{
    display: flex;
    align-items: center;
    padding: 2rem;
}
.navbar__ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.navbar__nav li{
    margin: 1rem 2rem;
}
